body, html {
    padding: 0;
    margin: 0;
    
    background-color:#ffffff;
    font-family: monospace, serif;
}

/* Sidebar Styles */
.sidebar {
    /* background-color: #a0927f; */
    background-color:#f58e5b;
    opacity:90%;
    color: black;
    width: 280px; /* Adjust the width as needed */
    position: absolute;
    top: 10;
    left: 0;
    height: 170vw;
    padding: 20px;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info img {
    width: 100px; /* Adjust the image size */
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}

.profile-name {
    font-size: 24px;
    margin: 0;
}

.profile-title {
    font-size: 14px;
    margin: 0;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #FF5733;
    font-size: 19px;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.menu-item a:hover {
    color: #FF5733; /* Change text color on hover */
    background-color: #1C4A44; /* Slight background color change on hover */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
    font-size:22px;
}

/* Content Styles */
.content {
    margin-left: 320px; /* Adjust the margin to match sidebar width */
    /* padding-left: 20px; */
}
/* Push the content to the right when the sidebar is open */
body.sidebar-open .content {
    margin-left: 0px; /* Adjust the margin to match your sidebar width */
}

.sidebar {
    /* Your existing sidebar styles */
    transform: translateX(0);
    transition: transform 0.5s;
}

/* Hide the sidebar by translating it out of the viewport */
body.sidebar-open .sidebar {
    transform: translateX(-100%);
}

.bcontainer {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FF5733;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* HEADER */
.header {
    background-color: #1b2225;
    opacity: 80%;
    text-align: center;
    width:100%;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0;
    height: 80px;
  }

.header a.title {
    text-align: center;
    font-weight: 400;
    color:antiquewhite;
    text-decoration: #99B898 underline dashed;
    font-size: 50px;
    /* font-family: Segoe UI, Futura, Arial, sans-serif; */
    font-family: monospace, serif;
}

.header a.title:hover {
    opacity: 1;
    color:rgb(119, 40, 53);
}

p {
    line-height: 1.75;
}

/* LINKS */

.link {
    float: left;
    /* height: 40px; */
    margin:0;
    border:0;
    text-decoration:none;
    /* font-size: 30px; */
    width: 16.666%;
    color: black;;
    padding-top: 10px;
    background-color: #000000;
}


a.link:hover, a.link:active {
    color: #FF5733;
}

/* ------------------------------------------ */

/* IMAGE & BACKGROUNDS*/
#imgBack {
    background-image: url(pictures/oranges.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 8vw;
    width: 100%;
    object-fit: cover;
}

#aboutMe {
    background-image: url(pictures/unsplashbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 600px;
    object-fit: cover;
}


/* ------------------------------------------ */

/* rest of page */
#indexboxes2 {
    /* position:absolute; */
    /* content: ""; */
    color: black;;
    /* text-anchor: middle; */
    position:absolute;
    content: "";
    display: table;
    font-size: 30px;
    clear: both;
    width: 100%;
    float: left;
}
#indexboxez {
    /* position:absolute; */
    /* content: ""; */
    /* color:antiquewhite; */
    /* text-anchor: middle; */
    content: "";
    display: table;
    font-size: 30px;
    clear: both;
    width: 100%;
    float: left;
    height:1000px;
}
#resourcehub {
    color:black;
    padding-left:2vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.blog-post {
    background-color: #E0E5E5; /* Light blue/green background */
    border: 2px solid #1C4A44; /* Forest green border color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s;
}

.blog-post:hover {
    transform: scale(1.05);
}

.post-title {
    font-size: 24px;
    margin: 0;
    color: #3C6E71; /* Dark green/blue title color */
    text-shadow: 1px 1px 1px #000;
    transition: color 0.3s;
}

.post-title:hover {
    color: #1C4A44; /* Darker forest green on hover */
}

.post-meta {
    font-size: 14px;
    margin: 5px 0;
    color: #7A9A96; /* Softer green/blue for meta */
}

.post-meta:hover {
    color: #2C564E; /* Darker green/blue on hover */
}

.post-content {
    font-size: 16px;
}

.read-more {
    display: inline-block;
    background-color: #1C4A44; /* Forest green button background color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #1C4A44;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #132E2A; /* Darker forest green on hover */
}

#block1 {
    background: darkslategray;
    height: 20px;
    padding-top: 10px;
    width: 100%;

    /* border-top: 20px solid black;
    font-size: 15px; */
    color:black;
    /* background-color: black;
    opacity:80%;
    height: 10px;
    padding-top: 10px;
    width: 100%; */ 
}

#block3 {
    background-color: #2a363b;
    background: #2a363b;
    color: black;;
    font-size: 20px;
    text-align: center;
    width: 100%;
    /* height: auto; */
    /* position: relative; */
    font-family: monospace, serif;
}

#restofpage {
    width:100%;
}

#skillsBlock {
    background-color: #2a363b;
    font-size: 20px;
    text-align: center;
    padding-bottom: 1000px;
    /* width: 100%;
    height: 900px; */
    font-family: monospace, serif;
}
/* inside block 3 */
#landingOne {
    width: 55%;
    float:right;
    height: 100%;
    padding-bottom: 100px;
}

a.resume {
    text-align: center;
}


#aboutMeTxt {
    width: 55%;
    float:right;
    height: 1200px;
    padding-bottom: 100px;
}
#qg {
    text-decoration: #99B898 underline dashed;
}
#landingTwo {
    background-color: #1b2225;
    width: 45%;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 100px;
}
#aboutMePic {
    background-color: #1b2225;
    width: 45%;
    height: 1200px;
    padding-bottom: 100px;
    float: left;
    padding-top: 20px;
}

#skillsList {
    font-size: 20px;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom:150px;
}


.projimg {
    padding-top: 30px;
    max-width: 100%;
    height: auto;
}

#block2  {
    float: left;
    height: 50px;
    text-decoration:none;
    font-size: 15px;
    width: 100%;
    color:antiquewhite; 
    background: darkslategray;
    padding-top: 10px;
    position: fixed;
    bottom:0;
    padding-left: 20px;
}

.contact {
    float: left;
    height: 50px;
    border:0;
    text-decoration:none;
    width: 20%;
    color:#FF5733;
}

#changeStyle {
    height: 25px;
    width: 150px;
}

a:link, a:visited {
    color:#ce3d27;
}

a:active {
    color:cadetblue
}

#projects {
    background-color: #2a363b;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 1800px;
    position: relative;
    font-family: monospace, serif;
}

#projecttext {
    color:antiquewhite;
    font-size: 20px;
    width: 50%;
    float:right;
    height: 100%;
    padding-right: 20px;
    padding-bottom: 100px;
}
#projectimgs {
    float:left;
    padding-left: 20px;
    max-width: 400px;
}

#services {
    color:antiquewhite;
    background-color: #2a363b;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 1000px;
    float:center;
    font-family: monospace, serif;
}

.servicebullets {
    color:antiquewhite;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    float:center;
}

#resourcehub {
    color:black;
    padding-left:2vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  /* position:relative; */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  position: relative;
  max-height: 250px;
}

.card_image img {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.card_price {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 0.25rem;
  background-color: #c89b3f;
  font-size: 18px;
  font-weight: 700;
}

.card_price span {
  font-size: 12px;
  margin-top: -2px;
}

.note {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 8px;
  border-radius: 0.25rem;
  background-color: #c89b3f;
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: lightgray;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  position: relative;
  padding: 16px 12px 32px 24px;
  margin: 16px 8px 8px 0;
  max-height: 290px;
  overflow-y: scroll;
}

.card_content::-webkit-scrollbar {
  width: 8px;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}

.card_title {
  position: relative;
  margin: 0 0 24px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.card_title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c89b3f;
  content: "";
}

/* hr {
  margin: 24px auto;
  width: 50px;
  border-top: 2px solid #c89b3f;
} */

.card_text p {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 1.5;
}

.card_text p:last-child {
  margin: 0;
}

#labreport {
    font-size: 15px;
}