* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url(../pictures/pixelstar.gif);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-start;
}

.sidebar {
  flex: 0 0 15%;
  display: flex;
  margin-left: 19.2vw;
  width: 15%;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
  border: solid thin #6f6f6f;
  padding: 10px;
}

.profile-info {
  text-align: center;
  margin-bottom: 30px;
}

.menu-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu-item {
  text-align: center;
  margin: 15px 0;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  width: 8vw;
  height: 8vw;
  margin-bottom: 1vh;
  object-fit: contain;
}

.menu-item a:hover {
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes boomerang {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.menu-item:hover .menu-icon {
  animation: boomerang 0.6s ease-in-out;
  animation-iteration-count: 1;
}

.heading {
  text-align: center;
  color: white;
  padding: 20px;
}

.heading h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.heading p {
  font-size: 1rem;
  color: #bbbbbb;
}

.main-content {
  flex: 1;
  padding: 20px;
  padding-top: 0px;
  width: 48%;
  margin-right: 19.2vw;
  float: right;
}

.first-content-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border: solid thin #6f6f6f;
  height: 20vw;
  color: white;
  text-align: left;
  width: 90%;
}

.content-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  height: 30vh;
  border: solid thin #6f6f6f;
  margin: 20px 0;
  color: white;
  text-align: left;
  width: 90%;
}

.content-box h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.content-box p {
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  background: #000;
  color: #bde0fe;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}

footer a {
  color: #d5e5d3;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
